@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
    margin: 0;
    padding: 0;
    font-family: Poppins, sans-serif;
    box-sizing: border-box;
    text-decoration: none;
}

body {
    background-color: #EDE9FE;
    display: flex;
    flex-direction: column;
    height: 100vh;
    width: 100vw;
}

.header {
    width: 100vw;
    display: flex;
    justify-content: center;
    padding: 24px;
    height: 20vh;
}

.header-title {
    color: #2E1065;
    font-size: 70px;
    font-weight: 500;
}
.header-alt-title {
    color: #C4B5FD;
}

.card-container {
    display: flex;
    justify-content: center;
    align-content: center;
    height: 80vh;
    background: transparent;
}

.card-box {
    background-color: #FFFFFF;
    padding: 20px;
    border-radius: 8px;
    border: 1px solid #8B5CF6;
    height: fit-content;
    width: 450px;
}

.card-header {
    margin-bottom: 20px;
}

.card-title {
    color: #2E1065;
    font-size: 28px;
    font-weight: 500;
}

.card-subtitle {
    color: #9A9A9A;
    font-size: 15px;
    font-weight: 400;
}

.card-form-group {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.input-group {
    display: flex;
    flex-direction: column;
    width: 100%;
    margin-top: 32px;
}

.input-group label {
    color: #2E1065;
    font-size: 20px;
    font-weight: 400;
}

.input-group input {
    background-color: #F5F5F5;
    border: none;
    outline: none;
    padding: 16px;
    border-radius: 8px;
}

.forgot-password {
    color: #2E1065;
    text-decoration: underline;
    margin-top: 8px;
}

.btn-login {
    background-color: #2E1065;
    color: #fff;
    border: none;
    outline: none;
    padding: 8px;
    border-radius: 8px;
    cursor: pointer;
    width: 100%;
    font-size: 16px;
    margin-top: 24px;
}

.btn-google {
    background-color: #F5F5F5;
    color: #8B5CF6;
    border: none;
    outline: none;
    padding: 8px;
    border-radius: 8px;
    cursor: pointer;
    width: 100%;
    font-size: 16px;
    margin-top: 24px;
    display: flex;
    justify-content: center;
    align-content: center;
    gap: 8px;
}

.w-100 {
    width: 100%;
}

.sign-up-href {
    color: #2E1065;
    margin-top: 12px;
    font-size: 14px;
}

.sign-up-href span {
    text-decoration: underline;
}