@import 'root.css';

main {
    margin-top: 64px;
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100vw;
}

.container-title {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100vw;
    padding: 16px;
    font-size: 32px;
    font-weight: bold;
    color: #2E1065;
    text-align: center;
}

.container-content {
    display: flex;
    justify-content: center;
    width: 100%;
}

.container-description {
    color: #656565;
    width: 980px;
    display: flex;
    flex-direction: column;
    gap: 40px;
    line-height: 1.6;
    font-size: 16px;
}

/* Reaproveitando estrutura de personalidade-box */
.career-box {
    background-color: #F6F6F6;
    padding: 24px;
    border-radius: 8px;
    display: flex;
    flex-direction: column;
    gap: 16px;
    box-shadow: 0 0 4px rgba(0,0,0,0.05);
}

.career-box h2 {
    color: #2E1065;
    font-size: 20px;
}

.career-box p,
.career-box li {
    color: #444;
    font-size: 16px;
}

.career-box ul {
    padding-left: 20px;
    list-style-type: disc;
}

.separator-main {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
}

.separator-line {
    margin: 60px 0;
    width: 50%;
    height: 1px;
    background: #7C3AED;
}
